.navbar{
    background-color: #cd45ff;
}

.quemsomos{
    background-color: #f2cfff;
    color: #575757;
}

.padding{
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #dbdbdb;
}

.bg-footer{
    background-color: black;
    color: white;
}